<span class="blue-text text-darken-2">
  <h4>Aliados estratégicos</h4>
</span>

<div class="row">
  <div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s12 l3">
          <img class="responsive-img"
             src="http://secramperu.com/images/logo-B-matic.jpg">
        </div>
        <div class="col s12 l9">
          <div class="row">
            <div class="col s12"><h5>B-maTic</h5></div>
            <div class="col s12">
              Soluciones integrales con tecnología de vanguardia.
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s12 l3">
          <img class="responsive-img"
             src="http://secramperu.com/images/Logo-Hdl.jpg">
        </div>
        <div class="col s12 l9">
          <div class="row">
            <div class="col s12"><h5>HDL Automation</h5></div>
            <div class="col s12">
              Es una empresa global que fabrica productos de
              edificios inteligentes a medida y equipamiento
              de iluminación profesional de escenarios.
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s12 l3">
          <img class="responsive-img"
             src="http://bmatic.pe/images/secram.jpg">
        </div>
        <div class="col s12 l9">
          <div class="row">
            <div class="col s12"><h5>SECRAM S.A.C.</h5></div>
            <div class="col s12">
              Empresa certificada como Dealer de HDL en Perú dedicada
              a brindar servicios de asesoría, instalación, integración
              y mantenimiento de Sistemas de Seguridad Electrónica,
              control y automatización con la más alta tecnología.
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s12 l3">
          <img class="responsive-img"
             src="http://bmatic.pe/images/air.jpg">
        </div>
        <div class="col s12 l9">
          <div class="row">
            <div class="col s12"><h5>AIR SOLUTIONS SYSTEMS S.A.C.</h5></div>
            <div class="col s12">
              Empresa con reconocida experiencia en el mercado brindando
              productos y servicios para aire acondicionado, refrigeración,
              ventilación, calefacción, energía e infraestructura. Elabora,
              evalúa, diseña, analiza e implementa las soluciones requeridas
              por sus clientes.
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
