<span class="blue-text text-darken-2">
  <h4>Aliados estratégicos</h4>
</span>

<ul class="collection">
  <li ng-repeat="ali in aliados" class="collection-item dismissable">
    <div class="row">
      <div class="col s12 l3">
        <img class="responsive-img" ng-src="{{ali.img}}">
      </div>
      <div class="col s12 l9">
        <div class="row">
          <div class="col s12"><h5>{{ali.nom}}</h5></div>
          <div class="col s12">
            {{ali.descrip}}
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
