<!--<div ng-include src="'base/img_slider.html'"></div>-->
<div id="GeckoCarousel" class="slider" images="sliderImgs"></div>

<!-- Tarjetas mostrando soluciones -->
<span class="blue-text text-darken-2">
  <h4>Soluciones</h4>
</span>
<div class="row" ng-controller="solucionesCtrl">
  <div class="col s12 m6 l4" ng-repeat="sec in sections">
    <div class="card-panel blue lighten-5">
      <div class="card-content">
        <span class="card-title ">{{sec.title}}</span>
        <p>{{sec.text}}</p>
      </div>
      <div class="card-action">
        <a href="#">ver más ...</a>
      </div>
    </div>
  </div>
</div>
