<div class="row">
  <div class="col s12 m6 l3">
    <img class="responsive-img"
       src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/12642972_1062780593773517_7897305816421868931_n.jpg?oh=803fc348d2c7f3fea80612a203426c11&oe=5789BCA3">
  </div>
  <div class="col s12 l9">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s12"><h3>Nosotros</h3></div>
        <div class="col s12">
          Somos un equipo de ingenieros altamente capacitado
          y con una amplia experiencia en diseño, instalación
          y mantenimiento de casas y edificios inteligentes,
          además de control de accesos y sistemas de
          videovigilancia.
        </div>
      </div>
    </div>
  </div>
  
  <div class="col s12 m12 l6">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s12"><h3>Misión</h3></div>
        <div class="col s12">
          Brindar soluciones a medida según las necesidades
          de nuestros clientes para optimizar el uso de sus
          recursos y aumentar su productividad.
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m12 l6">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row">
        <div class="col s12"><h3>Visión</h3></div>
        <div class="col s12">
          Ser líderes en consultoría, soporte técnico y
          desarrollo de proyectos en seguridad electrónica,
          automatización, domótica e inmótica.
        </div>
      </div>
    </div>
  </div>
</div>
