<!DOCTYPE html>
<html ng-app>
  <head>
		{{template "base/head.html" .}}
		{{template "meta" .}}

	</head>
  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../static/js/materialize.min.js"></script>

    <div class="container">
      <div ng-include src="'base/navbar.html'"></div>
      <div ng-view></div>
      {{template "body" .}}
      <div ng-include src="base/footer.html"></div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  </body>
</html>
